*{
  margin: 0;
  padding: 0;
}
.box-color{
  width: 90%;
  margin: 10% auto;
}
.box-input{
  width: 80%;
  margin: 10px auto;
  display: block;
}
.box-input label{
  display: block;
  margin-bottom: 4px;
}
.box-input input{
  width: 90%;
  margin: auto;
  display: block;
  border: 2px solid orange;
}
.box-content{
  width: 50%;
  height: 300px;
  margin: 10px auto;
  border: 1px solid black;
}
.ul{
  text-align: center;
}
@media screen and (min-width:680px) {
  .box-content{
    width: 40%;
  }
  .box-input input{
    width: 70%;
  }
  .box-input label{
    text-align: center;
  }
}